@{
    Layout = null;
}

<div class="bd-example">
    <a type="button" class="btn btn-primary" href="/GoogleDrive/FileManagement">
        Get All File
    </a>
    <a type="button" class="btn btn-secondary" href="/GoogleDrive/FolderManagement">
        Get All Folder
    </a>
    <a type="button" class="btn btn-success" href="/GoogleDrive/UploadFile">
        Upload File
    </a>
    <a type="button" class="btn btn-info" href="/GoogleDrive/CreateFolder">
        Create Folder
    </a>
</div>