@model GoogleDriveWebViewLinkModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Google Drive API ASP.NET Core | ProG Coder</h1>
    <p>Xem thêm nhiều bài viết hay tại <a target="_blank" href="https://progcoder.com">ProG Coder</a>.</p>
    <p><a target="_blank" href="https://progcoder.com">Hướng dẫn sử dụng tại đây</a>.</p>

    <div class="container">
        
        @await Html.PartialAsync("_ButtonActionPartial")
        
        <h1 id="txt-title">Share Link:</h1>
        <h3>
            <a target="_blank" href="@Model.WebViewLink">@Model.WebViewLink</a> 
        </h3>

    </div>
</div>

